{% extends 'base.html' %}

{{ title }}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Компьютерная томография (КТ)</title>
    <style>


        h2 {
            color: black;
        }

        h3 {
            color: #009688;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 15px;
        }

        ul li p {
            margin: 5px 0;
        }

        ul li ul {
            margin-top: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <h2>Раздел "КТ" (Компьютерная томография)</h2>

    <p>КТ – это метод диагностики, использующий рентгеновские лучи и компьютерную обработку данных для создания трехмерных изображений органов и тканей.</p>

    <h3>Области применения:</h3>
    <ul>
        <li>
            <p><strong>Грудная клетка:</strong> Выявление опухолей, инфекций, кист.</p>
        </li>
        <li>
            <p><strong>Брюшная полость:</strong> Диагностика заболеваний печени, поджелудочной железы, органов ЖКТ.</p>
        </li>
        <li>
            <p><strong>Сосуды:</strong> Исследование состояния сосудов, выявление аневризм, тромбозов.</p>
        </li>
        <li>
            <p><strong>Травмы и ортопедия:</strong> Оценка повреждений костей, суставов, мягких тканей.</p>
        </li>
    </ul>

    <p>Каждый из этих методов предоставляет ценные сведения о состоянии организма и помогает врачам выбрать наилучшее лечение для пациентов. Следует отметить, что результаты анализов и исследований должны оцениваться профессиональным врачом, который предоставит точный диагноз и разработает план лечения.</p>
</body>
</html>

{% endblock %}