{% extends 'base.html' %}

{{ title }}

{% block content %}

<head>

    <title>Магнитно-резонансная томография (МРТ)</title>
    <style>


        h2 {
            color: black;
        }

        h3 {
            color: #009688;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 15px;
        }

        ul li p {
            margin: 5px 0;
        }

        ul li ul {
            margin-top: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <h2>Раздел "МРТ" (Магнитно-резонансная томография)</h2>

    <p>МРТ – это современная методика обследования, использующая магнитные поля и радиоволны для создания подробных изображений внутренних органов и тканей.</p>

    <h3>Применение:</h3>
    <ul>
        <li>
            <p><strong>Головной мозг:</strong> Диагностика опухолей, инсультов, сосудистых нарушений.</p>
        </li>
        <li>
            <p><strong>Позвоночник:</strong> Выявление грыж, опухолей, воспалительных процессов.</p>
        </li>
        <li>
            <p><strong>Суставы:</strong> Оценка состояния суставов при артрите, травмах.</p>
        </li>
        <li>
            <p><strong>Органы брюшной полости:</strong> Исследование печени, селезенки, почек.</p>
        </li>
    </ul>


{% endblock %}