{% extends 'base.html' %}

{{ title }}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Раздел "Анализы"</title>
    <style>


        h2 {
            color: black;
        }

        h3 {
            color: #009688;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 15px;
        }

        ul li p {
            margin: 5px 0;
        }

        ul li ul {
            margin-top: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <h2>Раздел "Анализы"</h2>

    <p>Анализы – это обширный спектр медицинских исследований, которые выполняются с целью диагностики и контроля состояния здоровья пациента. Они включают в себя анализы крови, мочи, фекалий, биохимические исследования и другие методы.</p>

    <h3>Кровь:</h3>
    <ul>
        <li>
            <p><strong>Общий анализ крови (ОАК):</strong> Исследование состава крови, позволяющее выявить наличие воспалительных процессов, анемии, инфекций и других патологий.</p>
        </li>
        <li>
            <p><strong>Биохимический анализ крови:</strong> Оценка уровня различных веществ в крови, таких как глюкоза, белки, ферменты, что помогает выявить заболевания печени, почек и других органов.</p>
        </li>
        <li>
            <p><strong>Коагулограмма:</strong> Исследование системы свертывания крови для выявления нарушений, предотвращающих кровотечения или образование тромбов.</p>
        </li>
    </ul>

    <h3>Моча:</h3>
    <ul>
        <li>
            <p><strong>Общий анализ мочи (ОАМ):</strong> Оценка физических и химических свойств мочи, что позволяет выявить заболевания почек, мочевыводящих путей, диабет и другие патологии.</p>
        </li>
    </ul>

    <h3>Фекалии:</h3>
    <ul>
        <li>
            <p><strong>Копрограмма:</strong> Исследование фекалий для выявления расстройств пищеварения, кишечных инфекций, наличия паразитов и других заболеваний.</p>
        </li>
    </ul>
</body>
</html>
{% endblock %}